@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
  --clr-primary: hsl(240, 78%, 98%);
  --clr-background: hsl(234, 14%, 74%);
  --clr-background-light: hsla(234, 14%, 74%, 0.25);
  --clr-secondary: hsl(233, 13%, 49%);
  --clr-text: hsl(232, 13%, 33%);
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
body {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  background: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 0vh, left 70vh;
  background-color: var(--clr-background-light);
  min-height: 100vh;
}
.header {
  padding: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__header {
  color: var(--clr-text);
  margin-bottom: 3rem;
  font-size: 3.2rem;
}
.price__toggle {
  display: flex;
}
.price__toggle h2 {
  font-size: 1.8rem;
  color: var(--clr-secondary);
}
.toggler {
  width: 5rem;
  border-radius: 100rem;
  background: var(--clr-secondary);
  margin: 0 1rem;
  position: relative;
  background-image: linear-gradient(var(--clr-gradient));
}
.btn-toggle {
  position: absolute;
  background-color: var(--clr-primary);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-left: 0.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-radius: 1em;
}
.card__pricing {
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  background-color: var(--clr-primary);
}
.card__popular {
  background-image: linear-gradient(var(--clr-gradient));
  scale: 1.1;
  color: var(--clr-primary);
}
.price__title {
  color: var(--clr-text);
  margin-bottom: 3.2rem;
}
.price__amount {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 0.8em;
  display: flex;
  align-items: center;
}
.price__amount > span {
  font-size: 4rem;
}
.monthly {
  display: block;
}
.yearly {
  display: none;
}
.pricing__list {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}
.pricing__list li {
  border-top: 1px solid var(--clr-background);
  padding: 1.2em 0;
  font-weight: 700;
  color: var(--clr-text);
}
.pricing__list li:last-child {
  border-bottom: 1px solid var(--clr-background);
}
.btn {
  width: 100%;
  padding: 1em;
  background-color: transparent;
  border: 1px solid var(--clr-background);
  color: var(--clr-secondary);
  border-radius: 0.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.card__popular .btn {
  color: var(--clr-primary);
  border-color: var(--clr-primary);
}
@media (max-width: 900px) {
  .card__container {
    width: 87%;
    margin: 0 auto;
  }
  .card__pricing {
    padding: 2rem;
  }
  .price__amount {
    font-size: 4.8rem;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 5rem;
  }
  .card__container {
    display: block;
    width: 90%;
    margin: 0 auto;
    gap: 2em;
  }
  .card__pricing {
    margin-bottom: 1em;
  }
  .card__popular {
    scale: 1;
  }
}
